.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto;
    min-width: 30%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}