.checkboxWrapper {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    position: absolute;
    appearance: none;
}

.checkboxLabel {
    width: 100%;
    user-select: none;
}

.checkbox + .checkboxLabel {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox + .checkboxLabel:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1em;
    height: 1em;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 15%;
}

.checkbox + .checkboxLabel:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    right: 2px;
    top: 3px;
    width: 8px;
    height: 4px;
    border-radius: 1px;
    border-left: 4px solid var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    transform: rotate(-45deg);
}

.checkbox + .checkboxLabel:after {
    opacity: 0;
}

.checkbox:checked + .checkboxLabel:after {
    opacity: 1;
}

@media (max-width: 767px) {
    .checkboxWrapper {
        display: none;
    }
}