.root {
    flex-grow: 1;
    margin: 5em 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.isAuthWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.isNotAuthWrapper {
    width: 80%;
    background-image: url('../../asset/space-dog.jpeg');
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    border-radius: 1em;
    margin: 2em;
    border: 1px solid var(--support-color);
}

.image {
    width: 80%;
    border-radius: 1em;
    border: 1px solid var(--support-color);
    margin: 2em;
}