.root {
    flex-grow: 1;
    margin: 5em 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteinerLogin {
    width: 80%;
    /*background-image: url(https://images.unsplash.com/photo-1620428268482-cf1851a36764?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1709&q=80);*/
    background-image: url(https://cdn.culture.ru/images/82529ce6-49b7-571c-9b96-b4dccece3cf4);
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    border-radius: 1em;
    margin: 2em;
    border: 1px solid var(--support-color);
}

.image {
    width: 80%;
    border-radius: 1em;
    border: 1px solid var(--support-color);
    margin: 2em;
}