.root{
    border: none;
    padding: 5px 15px;
    height: 100%;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    font-family: system-ui;
    font: inherit;
    border-radius: 9999px;
}

.root:hover {
    border-radius: 9999px;
    background-color: var(--hover-button);
}