.mainContent {
    flex-grow: 1;
    border-left: 1px solid var(--hover-button);
    border-right: 1px solid var(--hover-button);
    background-color: white;
}

.filter {
    font-size: 15px;
}

.lastElement {
    height: 1px;
}

.hidden {
    display: none;
}