.root {
    background: none;
    border: none;
    padding: 0;
    text-align: inherit;
    position: relative;
    width: 40px;
    height: 24px;
    cursor: pointer;
    flex-shrink: 0;
    align-self: center;
    transition: 0.3s;
}

.span {
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 2px;
    top: 11px;
    transition: 0.3s;
}

.root:before {
    top: 0
}

.root:after {
    bottom: 0;
}

.root:before, .root:after {
    content: '';
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
    height: 2px;
    transition: 0.3s;
}

/*.root:hover:before {*/
/*    transform: translateY(11px) rotate(45deg);*/
/*}*/

/*.root:hover:after {*/
/*    transform: translateY(-11px) rotate(-45deg);*/
/*}*/

/*root.active {*/

/*}*/

/*span.active {*/
/*    transform: scaleX(0);*/
/*    opacity: 0;*/
/*}*/

