.root {
    max-width: 70%;
    margin: 3em auto;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
}


.image {
    width: 100%;
    border-radius: 1em;
    border: 1px solid var(--support-color);
    margin-top: 1em;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.date {
    color: var(--support-color);
}