.root {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page {
    text-align: center;
    padding: 5px;
    min-width: 40px;
    cursor: pointer;
    color: black;
}

.page__current {
    border-bottom: 1px solid var(--hover-button);
    font-weight: bold;
}