* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    text-decoration: none;
    color: var(--main-color)
}

:root {
    --main-color: rgb(5, 35, 51);
    --hover-button: rgba(63, 63, 63, 0.07);
}


.root {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

