* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    text-decoration: none;
    color: var(--main-color)
}

:root {
    --main-color: rgb(5, 35, 51);
    --hover-button: rgba(63, 63, 63, 0.07);
}


#root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.App {
    display: flex;
    max-width: 70%;
}

.posts {

}

.post {
    display: flex;
    padding: 15px;
    border-top: 1px solid var(--hover-button);
    justify-content: space-between;
    align-items: start;
}

.post:hover {
    background-color: var(--hover-button);
}

.post:last-child {
    border-bottom: 1px solid var(--hover-button);
}

.post-enter {
    opacity: 0;
    transform: scale(0.9);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.post__btns {
    display: flex;
}

.page__wrapper {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}

.page {
    text-align: center;
    padding: 10px;
    width: 40px;
    cursor: pointer;
    color: black;
}

.page__current {
    border-bottom: 1px solid var(--hover-button);
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.navbar__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: bold;
}

.navbar__item {
    padding: 20px 20px;
    border-radius: 9999px;
    transition: 0.2s;
}

.navbar__item:hover {
    background-color: var(--hover-button);
    transition: 1s;
}

.postPage__content {
    margin-top: 2em;
}

.postPage__comments {
    margin-top: 2em;
    border-top: 2px solid var(--main-color);
}

.postPage__comment {
    margin-top: 1em;
    border-left: 4px solid var(--main-color);
    padding-left: 2%;
}

.main-content_search {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 1em;
}

.main-content {
    max-width: 70%;
    border-left: 1px solid var(--hover-button);
    border-right: 1px solid var(--hover-button);
}

.filter-content {
    margin: 1em;
}