* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

:root {
    --main-pink: rgba(119, 46, 147, 0.55);
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid var(--main-pink);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3em;
}

.post-enter {
    opacity: 0;
    transform: scale(0.9);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.post__btns {
    display: flex;
    padding: 10px;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.page {
    text-align: center;
    padding: 10px;
    width: 40px;
    cursor: pointer;
}

.page__current {
    border: 1px solid var(--main-pink);
    border-radius: 50%;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: thistle;
}

.navbar__items {
    margin-left: auto;

}

.postPage__content {
    margin-top: 2em;
}

.postPage__comments {
    margin-top: 2em;
    border-top: 2px solid var(--main-pink);
}

.postPage__comment {
    margin-top: 1em;
    border-left: 4px solid var(--main-pink);
    padding-left: 2%;
}