.root {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    font-weight: bold;
}

.item {
    font: inherit;
    border: none;
    background: none;
    padding: 15px;
    border-radius: 9999px;
    transition: 0.2s;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.activeItem {
    font: inherit;
    border: none;
    background: var(--hover-button);
    padding: 15px;
    border-radius: 9999px;
    transition: 0.2s;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.item:hover {
    background-color: var(--hover-button);
    transition: 1s;
}

