.block {
    white-space: nowrap;
    font-size: 15px;
    padding-bottom: 1em;
}

.name {
    font-weight: bold;
}

.option {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2em;
}

.radio {
    position: absolute;
    appearance: none;
}

.label {
    width: 100%;
}

.radio + .label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio + .label:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1em;
    height: 1em;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 50%;
}

.radio + .label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    right: 1px;
    top: 1px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: #45a0e1;
}

.radio + .label:after {
    opacity: 0;
}

.radio:checked + .label:after {
    opacity: 1;
}

